<!DOCTYPE html>
<html>
    <head>
        <title>{%block title %}{% endblock %}Jurassic Park</title>
        <meta charset="utf8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet"> 
    </head>
    <body>
        <header>
            <a href="/">
                Jurassic Park
            </a>
            <nav>
                <a href="/">Home</a>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
            <center>
            </br></br><h1><B>THE WORLD OF JURASSIC PARK</B></h1>
            </center>
            <body>
                <figure>
                    <div style="text-align:left" >
                        <img src="..\static\img\dilophosaurus.jpg" />
                    
                        <a href="dinosaur/dilophosaurus">
                        <figcaption>DISCOVER THE DILOPHOSAURUS</figcaption>
                        </a>
                    </div>
                    
                    <div style="text-align:right" >
                        <img src="..\static\img\velociraptor.jpg" />
                        
                        <a href="dinosaur/velociraptor">
                        <figcaption>DISCOVER THE VELOCIRAPTOR</figcaption>
                        </a>
                    </div>

                    <div style="text-align:left" >
                        <img src="..\static\img\brachiosaurus.jpg" />
                        
                        <a href="dinosaur/brachiosaurus">
                        <figcaption>DISCOVER THE BRACHIOSAURUS</figcaption>
                        </a>
                    </div>

                    <div style="text-align:right" >
                        <img src="..\static\img\parasaurolophus.jpg" />
                            
                        <a href="dinosaur/parasaurolophus">
                        <figcaption>DISCOVER THE PARASAUROLOPHUS</figcaption>
                        </a>
                    </div>

                    <div style="text-align:left" >
                        <img src="..\static\img\triceratops.jpg" />
                            
                        <a href="dinosaur/triceratops">
                        <figcaption>DISCOVER THE TRICERATOPS</figcaption>
                        </a>
                    </div>

                    <div style="text-align:right" >
                        <img src="..\static\img\tyrannosaurus-rex.jpg" />
                            
                        <a href="dinosaur/tyrannosaurus-rex">
                        <figcaption>DISCOVER THE TYRANNOSAURUS REX</figcaption>
                        </a>
                    </div>

                    <div style="text-align:left" >
                        <img src="..\static\img\gallimimus.jpg" />
                            
                        <a href="dinosaur/gallimimus">
                        <figcaption>DISCOVER THE GALLIMIMUS</figcaption>
                        </a>
                    </div>
                </figure>             
            </body> 
        
        </main>
        <footer>     
            <img src="{{ url_for('static', filename='img/logojp.png') }}" alt="Jurassic Park" />            
        </footer>
    </body>
</html>