<!DOCTYPE html>
<html>
    <head>
        <title>{%block title %}{% endblock %}Jurassic Park</title>
        <meta charset="utf8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet"> 
    </head>
    <body>
        <header>
            <a href="/">
                Jurassic Park
            </a>
            <nav>
                <a href="/">Home</a>
            </nav>
        </header>
        <section>
            <center>
                </br></br><h1><B>THE WORLD OF JURASSIC PARK</B></h1>
            </center>
            
    
            <a href="">
                <figure>
                    <img src="" alt="" />
                    <figcaption>Discover the {{ name }}</figcaption>
                </figure>
            </a>
        </section>


        <div class="grid">
        <article>
            <h2>Discover the {{ name }}</h2>

            <div class="description">
                {{ description }}
            </div>

            <div class="card">
                {{ img }}
                <dl>
                    <dt>Name</dt>
                    <dd>{{ name }}</dd>
                    <dt>Name meaning</dt>
                    <dd>{{ Name_meaning }}</dd>
                    <dt>Diet</dt>
                    <dd>{{ Diet }}</dd>
                    <dt>Height</dt>
                    <dd>{{ Height }} m.</dd>
                    <dt>Length</dt>
                    <dd>{{ Length }} m.</dd>
                    <dt>Weight</dt>
                    <dd>{{ Weight }} kg.</dd>
                </dl>
            </div>
        </article>

        <aside>
            <h3>Top rated dinosaurs</h3>
            <a href="">
                <figure>
                    <img src="" alt="" />
                    <figcaption>Discover the Brachiosaurus</figcaption>
                </figure>
            </a>
        </aside>
        <footer>     
            <img src="{{ url_for('static', filename='img/logojp.png') }}" alt="Jurassic Park" />            
        </footer>
    </head>
</html>